:root {
  --frame-color: #2e2f36;
  --main-color: #7d7d7d;
  --background-color: #545454;

  --thepigking-color: #feb6b7;

  --slime-rancher-color: #f285bd;
  --slime-rancher-2-color: #f088ff;

  --secret-style-color: #4a2988;

  --slime-color: #e24164;
  --food-color: #f85d18;

  --special-color: yellow;
  --event-color: #ffacca;

  --docile-color: white;
  --harmful-color: red;
  --hostile-color: black;

  --veggie-color: #5b733d;
  --fruit-color: #83667a;
  --meat-color: #cfb287;
  --future-meat-color: #fbde76;
  --electricity-color: #ff9306;
  --other-color: #1f7fb5;

  --the-ranch-color: #825235;
  --ogdens-retreat-color: #d6c086;
  --mochis-manor-color: #e89a11;
  --viktors-workshop-color: #4da6d1;
  --the-dry-reef-color: #ef5931;
  --the-moss-blanket-color: #73be27;
  --the-indigo-quarry-color: #9788bf;
  --the-ancient-ruins-color: #faf73e;
  --the-glass-desert-color: #dc9554;
  --the-wilds-color: #f9bcda;
  --nimble-valley-color: #264f6a;
  --the-slimeulation-color: #8aadc8;
  --the-slime-sea-color: #4cde78;

  --hobson-color: #d67d18;

  --secret-style-sparkly-color: #f65c83;
  --secret-style-heavy-metal-color: #766e87;
  --secret-style-tiger-color: #f66f01;
  --secret-style-angelic-color: #d671cd;
  --secret-style-radiant-color: #a3ee4f;
  --secret-style-arcane-color: #ff2dae;
  --secret-style-royal-jelly-color: #8523a6;
  --secret-style-lilypad-color: #189f88;
  --secret-style-ruby-red-color: #e1393f;
  --secret-style-cheshire-color: #ee5583;
  --secret-style-monochrome-color: #bab8c1;
  --secret-style-devilish-color: #e867ff;
  --secret-style-nebula-color: #2c6e90;
  --secret-style-nightshade-color: #33a8a9;
  --secret-style-shattered-color: #73eafe;
  --secret-style-pre-jellasic-color: #b8bd65;
  --secret-style-boomerang-color: #770000;
  --secret-style-retro-color: #2668bd;
  --secret-style-gilded-color: #f09325;
  --secret-style-guardian-color: #ae2629;
}

body.slime-rancher {
  --main-color: var(--slime-rancher-color);
}

body.slime-rancher-2 {
  --main-color: var(--slime-rancher-2-color);
}

.slime-rancher-text {
  color: var(--slime-rancher-color);
}

.slime-rancher-2-text {
  color: var(--slime-rancher-2-color);
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: normal;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-nav-container {
  display: grid;
  gap: 1rem;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
  margin: auto;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: white;
}

.frame-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 0.25rem;
  font-weight: bold;
}

.frame-left,
.frame-center,
.frame-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.frame-left {
  grid-column: 1;
  justify-self: start;
}

.frame-center {
  grid-column: 2;
  justify-self: center;
}

.frame-right {
  grid-column: 3;
  justify-self: end;
}

/* Header */

header {
  font-size: 1.3rem;
  background-color: var(--frame-color);
  position: sticky;
  top: 0;
}

.title-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 2rem;

  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--main-color);
  width: 100%;
}

.title-bar h1 {
  font: inherit;
}

.title {
  display: flex;
  flex: 1;
  align-items: center;

  gap: 0.5rem;
}

.title:first-child {
  grid-column: 1;
  justify-self: end;

  display: flex;
  align-items: center;
}

.title-bar > .title:last-child {
  grid-column: 3;
  justify-self: start;

  display: flex;
  align-items: center;
}

.title-bar:has(.title:only-child) > .title {
  grid-column: 2;
  justify-self: center;
}

/* Footer */

.social-icons {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.footer-bar {
  font-size: 1.3rem;
  background-color: var(--frame-color);
  align-items: stretch;
}

.thepigking {
  color: var(--thepigking-color);
}

.last-updated {
  display: none;
  align-self: end;
}

.under-frame {
  display: flex;
  justify-content: center;
}

.patch-notice {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  margin: 0.5rem;
  font-size: 1rem;
}

.patch {
  background-color: var(--background-color);
  border: 0.1rem solid color-mix(in srgb, var(--background-color) 70%, white);
  padding: 0.1rem;
}

.fan-content-policy {
  text-align: center;
  font-size: 0.7rem;
  opacity: 0.5;
  max-width: 50rem;
  margin: 1rem;
}

.fan-content-policy a {
  text-decoration: underline;
}

/* Navigation Pages */

.home-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'slime-rancher'
    'slime-rancher-navs'
    'slime-rancher-2'
    'slime-rancher-2-navs';

  justify-items: center;
}

.home-grid img {
  width: 100%;
  max-width: 30rem;
  flex-wrap: wrap;
}

.home-group {
  margin: 2rem;
}

.slime-rancher {
  grid-area: slime-rancher;
}

.slime-rancher-2 {
  grid-area: slime-rancher-2;
}

.slime-rancher-navs,
.slime-rancher-2-navs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.slime-rancher-navs {
  grid-area: slime-rancher-navs;
}

.slime-rancher-2-navs {
  grid-area: slime-rancher-2-navs;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;

  border-radius: 1rem;
}

.nav-name {
  font-size: 1rem;
  font-weight: bold;
}

.slime-rancher-navs .nav-item {
  background-color: var(--slime-rancher-color);
}

.slime-rancher-2-navs .nav-item {
  background-color: var(--slime-rancher-2-color);
}

.nav-icon {
  width: 3rem;
  display: block;
}

/* Database */

.filters-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.filter-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
}

.advanced-filter-bar {
  display: none;
}

.filter-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.2em;
  flex-wrap: wrap;
}

.btn {
  background-color: var(--frame-color);
  border: 0.15rem solid color-mix(in srgb, var(--frame-color) 70%, white);
  padding: 0.1rem;
  color: var(--btn-color, white);
}

.style-btn {
  background-color: color-mix(in srgb, var(--frame-color) 70%, white);
  border-color: var(--frame-color);
}

.reset-filters-btn:active {
  background-color: darkred;
  border: 0.15rem solid red;
}

.btn.toggledOn {
  background-color: darkgreen;
  border: 0.15rem solid green;
}

.btn-slime {
  --btn-color: var(--slime-color);
}
.btn-food {
  --btn-color: var(--food-color);
}

.btn-special {
  --btn-color: var(--special-color);
}
.btn-event {
  --btn-color: var(--event-color);
}

.btn-docile {
  --btn-color: var(--docile-color);
}
.btn-harmful {
  --btn-color: var(--harmful-color);
}
.btn-hostile {
  --btn-color: var(--hostile-color);
}

.btn-veggie {
  --btn-color: var(--veggie-color);
}
.btn-fruit {
  --btn-color: var(--fruit-color);
}
.btn-meat {
  --btn-color: var(--meat-color);
}
.btn-future-meat {
  --btn-color: var(--future-meat-color);
}
.btn-electricity {
  --btn-color: var(--electricity-color);
}
.btn-other {
  --btn-color: var(--other-color);
}

.btn-the-ranch {
  --btn-color: var(--the-ranch-color);
}
.btn-ogdens-retreat {
  --btn-color: var(--ogdens-retreat-color);
}
.btn-mochis-manor {
  --btn-color: var(--mochis-manor-color);
}
.btn-viktors-workshop {
  --btn-color: var(--viktors-workshop-color);
}
.btn-the-dry-reef {
  --btn-color: var(--the-dry-reef-color);
}
.btn-the-moss-blanket {
  --btn-color: var(--the-moss-blanket-color);
}
.btn-the-indigo-quarry {
  --btn-color: var(--the-indigo-quarry-color);
}
.btn-the-ancient-ruins {
  --btn-color: var(--the-ancient-ruins-color);
}
.btn-the-glass-desert {
  --btn-color: var(--the-glass-desert-color);
}
.btn-the-wilds {
  --btn-color: var(--the-wilds-color);
}
.btn-nimble-valley {
  --btn-color: var(--nimble-valley-color);
}
.btn-the-slimeulation {
  --btn-color: var(--the-slimeulation-color);
}
.btn-the-slime-sea {
  --btn-color: var(--the-slime-sea-color);
}
.btn-the-vaults {
  --btn-color: var(--hobson-color);
}

.btn-secret-style {
  --btn-color: var(--secret-style-color);
}
.btn-sr2-style {
  --btn-color: var(--slime-rancher-2-color);
}

.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 14rem));
  gap: 1rem;
  margin: 1rem;
}

.card {
  display: grid;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    'card-img-main card-name'
    'card-img-main card-style-name'
    'card-img-main card-tags'
    'card-spawn-tags card-spawn-tags'
    'details details';

  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  text-align: center;

  border-radius: 5%;
  background-color: var(--frame-color);
  padding: 0.5rem;

  font-size: 1rem;
}

.card-img-main {
  grid-area: card-img-main;
  height: auto;
  width: 100%;
}

.card-name {
  grid-area: card-name;
  font-size: 1rem;
}

.card-style-name {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: -0.5rem;
}

.card-style-name.secret-style-sparkly {
  color: var(--secret-style-sparkly-color);
}
.card-style-name.secret-style-heavy-metal {
  color: var(--secret-style-heavy-metal-color);
}
.card-style-name.secret-style-tiger {
  color: var(--secret-style-tiger-color);
}
.card-style-name.secret-style-angelic {
  color: var(--secret-style-angelic-color);
}
.card-style-name.secret-style-radiant {
  color: var(--secret-style-radiant-color);
}
.card-style-name.secret-style-arcane {
  color: var(--secret-style-arcane-color);
}
.card-style-name.secret-style-royal-jelly {
  color: var(--secret-style-royal-jelly-color);
}
.card-style-name.secret-style-lilypad {
  color: var(--secret-style-lilypad-color);
}
.card-style-name.secret-style-ruby-red {
  color: var(--secret-style-ruby-red-color);
}
.card-style-name.secret-style-cheshire {
  color: var(--secret-style-cheshire-color);
}
.card-style-name.secret-style-monochrome {
  color: var(--secret-style-monochrome-color);
}
.card-style-name.secret-style-devilish {
  color: var(--secret-style-devilish-color);
}
.card-style-name.secret-style-nebula {
  color: var(--secret-style-nebula-color);
}
.card-style-name.secret-style-nightshade {
  color: var(--secret-style-nightshade-color);
}
.card-style-name.secret-style-shattered {
  color: var(--secret-style-shattered-color);
}
.card-style-name.secret-style-pre-jellasic {
  color: var(--secret-style-pre-jellasic-color);
}
.card-style-name.secret-style-boomerang {
  color: var(--secret-style-boomerang-color);
}
.card-style-name.secret-style-retro {
  color: var(--secret-style-retro-color);
}
.card-style-name.secret-style-gilded {
  color: var(--secret-style-gilded-color);
}
.card-style-name.secret-style-guardian {
  color: var(--secret-style-guardian-color);
}

.card-style-name.style-sr2 {
  color: var(--slime-rancher-2-color);
}

.card-style-name.style-radiant {
  background: linear-gradient(
    var(--angle),
    var(--c1) 0%,
    var(--c2) var(--p1),
    var(--c3) var(--p2),
    var(--c4) var(--p3),
    var(--c1) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card-tags {
  grid-area: card-tags;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--tag-color, black);
  color: var(--tag-text, white);
  padding: 0.2rem;
  border-radius: 10%;
  font-size: 0.75rem;
  margin: 0.1rem;
}

.card-spawn-tags {
  grid-area: card-spawn-tags;
  display: flex;
  flex-wrap: wrap;
}

.tag-slime {
  --tag-color: var(--slime-color);
}
.tag-food {
  --tag-color: var(--food-color);
}

.tag-special {
  --tag-color: var(--special-color);
  --tag-text: black;
}
.tag-event {
  --tag-color: var(--event-color);
}

.tag-docile {
  --tag-color: var(--docile-color);
  --tag-text: black;
}
.tag-harmful {
  --tag-color: var(--harmful-color);
}
.tag-hostile {
  --tag-color: var(--hostile-color);
}

.tag-veggie {
  --tag-color: var(--veggie-color);
}
.tag-fruit {
  --tag-color: var(--fruit-color);
}
.tag-meat {
  --tag-color: var(--meat-color);
}
.tag-future-meat {
  --tag-color: var(--future-meat-color);
  --tag-text: black;
}
.tag-other {
  --tag-color: var(--other-color);
}
.tag-electricity {
  --tag-color: var(--electricity-color);
}

.tag-the-ranch {
  --tag-color: var(--the-ranch-color);
}
.tag-ogdens-retreat {
  --tag-color: var(--ogdens-retreat-color);
}
.tag-mochis-manor {
  --tag-color: var(--mochis-manor-color);
}
.tag-viktors-workshop {
  --tag-color: var(--viktors-workshop-color);
}
.tag-the-dry-reef {
  --tag-color: var(--the-dry-reef-color);
}
.tag-the-moss-blanket {
  --tag-color: var(--the-moss-blanket-color);
}
.tag-the-indigo-quarry {
  --tag-color: var(--the-indigo-quarry-color);
}
.tag-the-ancient-ruins {
  --tag-color: var(--the-ancient-ruins-color);
  --tag-text: black;
}
.tag-the-glass-desert {
  --tag-color: var(--the-glass-desert-color);
}
.tag-the-wilds {
  --tag-color: var(--the-wilds-color);
  --tag-text: black;
}
.tag-nimble-valley {
  --tag-color: var(--nimble-valley-color);
}
.tag-the-slimeulation {
  --tag-color: var(--the-slimeulation-color);
}
.tag-the-slime-sea {
  --tag-color: var(--the-slime-sea-color);
}
.tag-the-vaults {
  --tag-color: var(--hobson-color);
}

/* Media Queries */

@media (min-width: 768px) {
  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .frame-container {
    padding: 0 0.5rem;
  }

  .last-updated {
    display: block;
    font-size: 1rem;
  }

  .home-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'slime-rancher slime-rancher-2'
      'slime-rancher-navs slime-rancher-2-navs';
  }

  .slime-rancher-navs,
  .slime-rancher-2-navs {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-icon {
    width: 6rem;
  }

  .nav-name {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .icon {
    width: 3rem;
    height: 3rem;
  }

  .last-updated {
    font-size: 1.2rem;
  }
}
