:root {
  --frame-color: #2e2f36;
  --main-color: #7d7d7d;
  --background-color: #545454;

  --thepigking-color: #feb6b7;
}

body.slime-rancher {
  --main-color: #f285bd;
}

body.slime-rancher-2 {
  --main-color: #f088ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: white;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  text-align: center;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: white;

  @media (min-width: 768px) {
    width: 2.5rem;
    height: 2.5rem;
  }

  @media (min-width: 1024px) {
    width: 3rem;
    height: 3rem;
  }
}

/* Header */

nav {
  font-size: 1.3rem;
  background-color: var(--frame-color);
  padding: 0 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header section {
  font-size: 0.7rem;
}

/* Footer */

footer,
header {
  background-color: var(--main-color);
}

footer section {
  font-size: 130%;
  background-color: var(--frame-color);
}

#thepigking {
  color: var(--thepigking-color);
}

/* Index */

.game-logo {
  width: 100%;
  max-width: 50rem;
}
